 
@import '~nativescript-theme-core/css/core.light.css';

.background-g{
   /* background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);*/
    background-color: #d4eac8;
}

.icon-leaf:before {
    content: "\e9a4";
}

.icon-size image {
    width: 100px;
    padding: 100px;
}